@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: lightgray;
    font-family: 'Bebas Neue', cursive, sans-serif;
    color: black;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 25px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.picture {
    display: flex;
    flex-direction: row;
}

.gift-button {
    background-color: darkblue;
    display: flex;
    -webkit-box-align: center;
    align-items: stretch;
    padding: 11px 19px 11px 11px;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #cccccc;
    transition: background .2s, color .2s;
    height: 54px;
    border-radius: 28px;
    margin: 5px;

}


